@import "tailwindcss";

@theme {
  --color-border: #cce;
  --color-background: #e3eaf9;
}

p {
  margin-block-end: 1rem;

  &:last-child {
    margin-block-end: 0;
  }
}


@source "../../templates/**/*.twig"
@source "../../components/**/*.twig"
@source "../../hawke.theme"
