{% if page.header %}
	<header class=" max-w-200 mx-auto mt-6 mb-6">
		<div class="bg-background mx-6container mx-6 px-4 py-4 flex items-center justify-between border-solid border border-border border-2 ">
			<div class="md:flex items-center justify-between py-4">
				{{ page.header }}

			</div>
		</div>
	</header>
{% endif %}


<div class="container mx-auto px-6 max-w-200">

	{{page.sidebar_first}}
	{{page.content}}
</div>

{% if page.footer %}
	<header class=" max-w-200 mx-auto mt-6 mb-6">
		<div class="bg-background mx-6container mx-6 px-4 py-4 flex items-center justify-between border-solid border border-border border-2 ">
			<div class="md:flex items-center justify-between py-4">
				{{ page.footer }}

			</div>
		</div>
	</header>
{% endif %}
